<div style="margin-left:3px; display:inline-block;">
	<ul class="list-inline">
		<li ng-repeat="n in [] | range:value" ><span class="glyphicon glyphicon-star markable n{{n}}"></span></li>
		<li ng-repeat="a in [] | range:calcualted"><span class="glyphicon glyphicon-star-empty markable a{{a}}"></span></li>
	</ul>
</div>