<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label for="search" class="col-xs-2 col-sm-2 col-md-2 control-label">Search</label>
			    <div class="col-xs-3 col-sm-3 col-md-3">
				    <input type="text" class="form-control input-sm" id="search" ng-model="searchBooks" />
			    </div>
			</div>
		</form>
		<div class="table-responsive">
			<table class="table table-bordered sortable">
				<thead>
					<tr>
						<th ng-click="orderByField='title'; reverseSort=!reverseSort;">Title <span ng-show="orderByField=='title'"><span ng-show="!reverseSort">&#8679;</span><span ng-show="reverseSort">&#8681;</span></span></th>
						<th ng-click="orderByField='authors'; reverseSort=!reverseSort;">Author <span ng-show="orderByField=='authors'"><span ng-show="!reverseSort">&#8679;</span><span ng-show="reverseSort">&#8681;</span></span></th>
						<th ng-click="orderByField='tags'; reverseSort=!reverseSort;">Tags <span ng-show="orderByField=='tags'"><span ng-show="!reverseSort">&#8679;</span><span ng-show="reverseSort">&#8681;</span></span></th>
						<th ng-click="orderByField='location'; reverseSort=!reverseSort;" style="min-width:94px;">Location <span ng-show="orderByField=='location'"><span ng-show="!reverseSort">&#8679;</span><span ng-show="reverseSort">&#8681;</span></span></th>
						<th ng-click="orderByField='available'; reverseSort=!reverseSort;" style="min-width:97px;">Available <span ng-show="orderByField=='available'"><span ng-show="!reverseSort">&#8679;</span><span ng-show="reverseSort">&#8681;</span></span></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="book in books|filter:searchBooks|orderBy:orderByField:reverseSort|startFrom:booksPageManager.getCurrentPage()*booksPageManager.getPageSize()|limitTo:booksPageManager.getPageSize()">
						<td><a href="#/{{book.id}}">{{book.title}}</a></td>
						<td ng-bind-html="book.authors"></td>
						<td>{{book.tags}}</td>
						<td>{{book.location}}</td>
						<td class="text-center"><input type="checkbox" disabled="disabled" ng-model="book.available" /></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center" ng-show="books.length > 1">
			<ul class="pagination">
				<li ng-class="{disabled: booksPageManager.getCurrentPage() == 0}"><a href="#" ng-disabled="booksPageManager.getCurrentPage() == 0" ng-click="booksPageManager.setCurrentPage(booksPageManager.getCurrentPage()-1)">&laquo;</a></li>
				<li ng-class="{active: booksPageManager.getCurrentPage() + 1 == n}" ng-repeat="n in [] | range:booksPageManager.numberOfPages()"><a href="#" ng-click="booksPageManager.setCurrentPage(n - 1)">{{n}}</a></li>
				<li ng-class="{disabled: booksPageManager.numberOfPages() - 1 == booksPageManager.getCurrentPage()}"><a href="#" ng-disabled="booksPageManager.numberOfPages() - 1 == booksPageManager.getCurrentPage()" ng-click="booksPageManager.setCurrentPage(booksPageManager.getCurrentPage()+1)">&raquo;</a></li>
			</ul>
		</div>
	</div>
</div>