<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12">
		<div ng-if="!isEmpty(error)">
			<div class="alert alert-danger alert-dismissable">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="go('/')">&times;</button>
				<strong>Error: {{error.status}}!</strong> {{error.message}}
			</div>
		</div>
		<div ng-if="!isEmpty(book)">
			<div style="padding-left:15px;">
				<h1>{{book.title}}</h1>
			</div>

			<div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-left"><strong>Author:</strong></div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
					<ul class="list-unstyled">
						<li ng-repeat="author in book.authors">{{author}}</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div style="padding-left:15px;"><strong>Publication year:</strong> {{book.publishingYear}}</div>
			<div>
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 pull-left"><strong>Tags:</strong></div>
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 pull-left">
					<ul class="list-unstyled">
						<li ng-repeat="tag in book.tags">{{tag}}</li>
					</ul>
				</div>
				<div class="clearfix"></div>
			</div>
			<div style="padding-left:15px;"><strong>Location:</strong> {{book.location}}</div>
			<div style="padding-left:15px;"><strong>Available:</strong> {{book.available}}/{{book.quantity}}</div>
			<div style="padding-left:15px;"><strong>Average rating:</strong> <book-rating value="book.rating" max-value="10"></book-rating></div>
			<div class="btn-group btn-group-xs" style="margin-top:10px; padding-left:15px;">
				<button type="button" class="btn btn-primary">Borrow</button>
				<button type="button" class="btn btn-default">Print</button>
			</div>

			<div ng-if="book.borrowers" style="padding-left:15px;">
				<h4>Previous borrowers</h4>
				<div class="table-responsive">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>From</th>
								<th>To</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="borrower in book.borrowers">
								<td>{{borrower.name}}</td>
								<td>{{borrower.from|date:'dd.MM.yyyy'}}</td>
								<td>{{borrower.to|date:'dd.MM.yyyy'}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div ng-if="book.comments" style="padding-left:15px;">
				<h4>Comments</h4>
				<div ng-repeat="comment in book.comments" style="margin-top:10px;">
					<div class="row">
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-left"><strong>{{comment.author}}</strong></div>
						<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 pull-left text-left"><strong>Rating:</strong> <book-rating value="comment.rating" max-value="10"></book-rating></div>
						<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pull-left text-right"><strong>{{comment.date|date:'dd.MM.yyyy'}}</strong></div>
						<div class="clearfix"></div>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top:5px;">{{comment.content}}</div>
					</div>
				</div>
			</div>

			<div style="padding-left:15px;">
				<h4>Leave a comment</h4>
				<form class="form-horizontal" role="form">
					<div>
						<div class="pull-left col-xs-4 col-sm-4 col-md-4 col-lg-4">
							<div class="form-group">
								<label class="col-xs-4 col-sm-4 col-md-4 col-lg-4 control-label" for="inputSuccess4">Name:</label>
								<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
									<input type="text" class="form-control input-sm" id="inputSuccess4">
								</div>
							</div>
						</div>
						<div class="pull-left col-xs-8 col-sm-8 col-md-8 col-lg-8">
							<div class="form-group">
								<label class="col-xs-3 col-sm-3 col-md-3 col-lg-3 control-label">Rating:</label>
								<div style="padding-top:7px; padding-left:15px;">
									<book-rating value="0" max-value="10"></book-rating>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-1 col-sm-1 col-md-1 col-lg-1" for="inputSuccess6">Comment:</label>
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<textarea class="form-control" rows="3" id="inputSuccess6"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
							<input type="submit" value="Submit" class="btn btn-primary btn-sm" />
							<button class="btn btn-default btn-sm" ng-click="go('/')">Back</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>